.navbar-inverse{
	border-radius: 0px;
	border: none;
	background: linear-gradient(rgba(2, 2, 2,0.5),transparent);
}
@media screen and (max-width: 767px){
	.navbar-inverse .container .navbar-collapse .navbar-nav{
		border: none;
	}
	.navbar-inverse{
		border-radius: 0px;
		border: none;
		background:rgba(2, 2, 2,0.5);
	}
}
.navbar-inverse .navbar-nav > li > a:hover{
    background-color: black;
}
.navbar-inverse .navbar-nav > li > a{
    color: white;
    border-bottom: 3px solid transparent;
    font-size: 18px;
    transition: 0.5s
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #00477e;
}
.navbar-inverse .navbar-brand{
    color: white;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border:none;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #2f7fff;
    color: white;
    border: none;
}
.navbar-inverse .navbar-toggle{
    background-color: #2f7fff;
    color: white;
    border: none;
}
#mycarousel{
	top: -20px;
}
.ss{
	border: none;
	box-shadow: none;
}
.abc{
	background: #46658f;
	color: white;
}
.se{
	background-color: #286090;
	padding: 30px 10px;
	color: white;
}
.ftr{
	background-color: #286090;
	color: white;
	padding: 20px 0px;
}
.link{
	line-height: 35px;padding: 0;color: white;
}
.links div li a{
	color: white;
	transition: 0.5s;
}
.links div li a:hover{
	color: white;
	background-color: #286090;
	margin-left: 15px;
}
.vb{
	background-color: transparent;
}
.vb:focus{
	background-color: white;
}
.lst{
	background-color: #252422;
	padding: 40px 0px;
}
.lst .container a{
	
	margin: 0px 15px;
	
	color: white;
	
	font-size: 30px;
}
.carousel{
	pointer-events: none;
}